<!DOCTYPE html>
<html>
    <head>
        <style>
            h1 {
                background-color: dimgray;
                text-align: center;
                font-weight: bold;
                font-size: large;
            }
            body {
                background-color: dimgray;
                text-align: center;
            }
            table {
                background-color: darkslategrey;
                margin-left: auto;
                margin-right: auto;
                text-align: left;
            }
        </style>
    </head>
    <h1>
        Ping Until
    </h1>
    <body>
        {% block body %}
        {% endblock body %}
    </body>
</html>